.chatWindow {
  width: 360px;
  /* height: 566px; */

    height: 532px;  
  /* border-radius: 12px; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: #171717; */
  background-color: #1e2939;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: thin;
  scrollbar-color: #8888 #222;
  border: #4a5568;
   border-width: 10px;
}

.messages::-webkit-scrollbar {
  width: 2px;
  background: #222;
}

.messages::-webkit-scrollbar-thumb {
  background: rgba(136,136,136,0.4);
  border-radius: 4px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

.sent {
  background: #6f6f6f;
  color: white;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.received {
  background: #3f3e3e;
  color: white;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.newMessages {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  background: #0b0a09;
  color: #fff;
  padding: 4px 14px;
  border-radius: 16px;
  font-size: 13px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.inputArea {
  width: 270px;
  display: flex;
  margin-left: 17px;
  margin-bottom: 77px;
  border-top: 1px solid #444444;
  
}

.inputArea input {
  border-radius: 12px;
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #4a5568;
  color: white;
  font-size: 14px;
}

.inputArea button {
  position: absolute;
  right: 15px;
  border-radius: 8px;
  width: 45px;
  height:42px;
  padding: 10px 15px;
  border: none;
  background: #0051dd;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
}

.inputArea button:hover {
  background: #005bb5;
}

